/* Write CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  height: 100vh;
  background-size: cover;
}
.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}
.heading {
  font-family: roboto;
  margin-left: 230px;
  padding-top: 50px;
}
.card {
  width: 300px;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 160px;
  padding-bottom: 20px;
}
.timer-image {
  height: 20px;
  width: 20px;
}
.timer-name {
  color: black;
  padding-top: 0px;
}
.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.start-button {
  background-color: green;
  color: white;
  padding: 5px;
  border: 0px;
}
.stop-button {
  background-color: red;
  color: white;
  padding: 5px;
  border: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.reset-button {
  background-color: orange;
  color: white;
  padding: 5px;
  border: 0px;
}
